/*components*/
/*@import url("./components/_banner.css");*/
/*@import url("./components/_button.css");
>>>>>>> 85c38a713b18a5513015afa6e96e99aa74d84e88
@import url("./components/_card.css");
@import url("./components/_footer.css");
@import url("../css/components/_spinner.css");
@import url("./components/_navbar.css");
*/


/*General Style Rules*/

h3 {
  text-align: center;
}


/*Button*/
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2E6171;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #556F7A;
  color: white;
}

/*Banner*/
.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.container {
    padding: 150px 10%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.banner a {
  color:  #1F2041;
  text-shadow: white 0px 0px 10px;
}

.banner a:hover {
  /*color: #1F2041;*/
  color: #4B3F72;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}


/*Bio Section*/
.bio {
  background-color: #09090B;
  color: white;
}

.bio h2 {
  margin: 24px;
  text-align: center;
}

.bio h3 {
  margin-bottom: 16px;
}

.bio i {
  color: #2E6171;
  font-size: 100px;
  padding: 16px;
}

.bio p {
  color: white;
}

.skills {
  display: flex;
  justify-content: center;
}


/*Portfolio*/

.portfolio {
  background-color: #09090B;
  color: white;
}

#portfolio {
  margin-top: 24px;
  margin-bottom: 0px;
}

/*Card*/
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}
.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
}

.card > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}



/*Footer*/
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}




.contact-form {
  margin: 24px;
  height: 60vh;
}


.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}
