/*components*/
/*@import url("./components/_banner.css");*/
/*@import url("./components/_button.css");
@import url("./components/_card.css");
@import url("./components/_footer.css");
@import url("../css/components/_spinner.css");
@import url("./components/_navbar.css");
*/


/*General Style Rules*/

h4 {
  text-align: center;
}

/*Bio Section*/
.bio {
  background-color: #09090B;
  color: white;
  padding: 24px;
}

.bio p {
  text-align: center;
  column-count: 3;
}

.bio i {
  color: #2E6171;
  font-size: 100px;
  padding: 16px;
}

.bio h2 {
  text-align: center;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  li {
    margin: 8px;
  }
}


/*Portfolio*/

.portfolio {
  background-color: #09090B;
  color: white;
  padding: 24px;
}

#portfolio {
  margin-top: 24px;
  margin-bottom: 0px;
  text-align: center;
}


/*Card*/
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}
.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: black;
}

.card > a > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}



// contact form

// .contact-form {
//   margin: 24px;
//   height: 60vh;
// }


// .hidden { display: none; }

// /*flash*/

// .alert-error {
// background-color: #f2dede;
// border-color: #eed3d7;
// color: #b94a48;
// text-align: left;
// }

// .alert-alert {
// background-color: #f2dede;
// border-color: #eed3d7;
// color: #b94a48;
// text-align: left;
// }

// .alert-success {
// background-color: #dff0d8;
// border-color: #d6e9c6;
// color: #468847;
// text-align: left;
// }

// .alert-notice {
// background-color: #dff0d8;
// border-color: #d6e9c6;
// color: #468847;
// text-align: left;
// }
