<div data-aos="fade-down-right"
     data-aos-duration="2000">
  <div class="card">
    <%= image_tag("react-flats.png", :alt => "react-flats") %>
    <div class="card-info">
      <h2>Apartment Selector</h2>
      <p><i>Web app built with React allowing users to select an apartment and displaying the apartments location on the map.</i></p>
      <div class="card-action">
      <!--  <button type="button" class="btn btn-flat" data-toggle="modal"  data-target="#apartment-modal">
          View More
        </button> -->
        <a href="https://ryanmansfield.github.io/react-flats/" target="_blank" class="btn btn-flat" class="btn btn-flat">Visit Website </a>
      </div>
    </div>
  </div>
</div>
