<div class="card">
   <%= image_tag("redux-chat.png", :alt => "redux-chat") %>
  <div class="card-info">
    <h2>Multi Channel Messaging App</h2>
    <p>Rails with React/Redux Messaging APP</p>
    <div class="card-action">
     <button type="button" class="btn btn-flat" data-toggle="modal"  data-target="#chat-modal">
        View More
      </button>
      <a href=" https://chat-rails-redux.herokuapp.com" target="_blank" class="btn btn-flat" class="btn btn-flat">Visit Website </a>
    </div>
  </div>
</div>
