    <div class="card">
      <a href=" https://chat-rails-redux.herokuapp.com" target="blank">
        <%= image_tag("redux-chat.png", :alt => "redux-chat") %>
      </a>
      <div class="card-infos">
        <div>
          <h2>Multi Channel Messaging APP</h2>
              <button type="button" class="create-btn" data-toggle="modal"  data-target="#chat-modal">
                <i class="fas fa-plus-circle"></i>
              </button>
          <p>Rails with React/Redux Messaging APP</p>
        </div>
      </div>
    </div>
