<div data-aos="zoom-in-up"
     data-aos-duration="2000">
  <div class="card">
    <%= image_tag("cinemakers1.png", :alt => "cinemakers task management") %>
    <div class="card-info">
      <h2>Cinemakers</h2>
      <p><i>Web App built with Rails and React.  This app is targeted to help students in film school to better manage their projects</i></p>
      <div class="card-action">
     <!--   <button type="button" class="btn btn-flat" data-toggle="modal"  data-target="#night-roulette-modal">
          View More
        </button> -->
        <a href="https://cinemakers-task-manager.herokuapp.com/" target="_blank" class="btn btn-flat" class="btn btn-flat">Visit Website </a>
      </div>
    </div>
  </div>
</div>
