<div class="card">
   <%= image_tag("mr-cocktail.png", :alt => "mr-cocktail") %>
  <div class="card-info">
    <h2>Cocktail Recipe Book</h2>
    <p>Rails APP using CRUD and 3rd party APIs to update Cocktail Recipe</p>
    <div class="card-action">
     <button type="button" class="btn btn-flat" data-toggle="modal"  data-target="#cocktail-modal">
        View More
      </button>
      <a href="https://mister-ryan-cocktail.herokuapp.com/cocktails" target="_blank" class="btn btn-flat" class="btn btn-flat">Visit Website </a>
    </div>
  </div>
</div>
