    <div class="card">
      <a href="https://mister-ryan-cocktail.herokuapp.com/cocktails" target="_blank">
        <%= image_tag("mr-cocktail.png", :alt => "mr-cocktail") %>
      </a>
      <div class="card-infos">
        <div>
          <h2>Cocktail Recipe Book</h2>
              <button type="button" class="create-btn" data-toggle="modal"  data-target="#cocktail-modal">
                <i class="fas fa-plus-circle"></i>
              </button>
          <p>Rails APP using CRUD and 3rd party APIs to update Cocktail Recipe</p>
        </div>
      </div>
    </div>
