<div data-aos="zoom-in-left"
     data-aos-duration="2000">
  <div class="card">
     <%= image_tag("fauxtography.png", :alt => "fauxtography") %>
    <div class="card-info">
      <h2>Fauxtography Marketplace</h2>
      <p><i>Web app built with Rails.  The app brings photographers and clients together by letting clients view photographers profiles and book photo sessions with them.</i></p>
      <div class="card-action">
     <!--   <button type="button" class="btn btn-flat" data-toggle="modal"  data-target="#fauxtography-modal">
          View More
        </button> -->
        <a href="http://fauxtography.herokuapp.com" target="_blank" class="btn btn-flat" class="btn btn-flat">Visit Website </a>
      </div>
    </div>
  </div>
</div>
