<div class="modal fade" id="fauxtography-modal" tabindex="-1" role="dialog" aria-labelledby="fauxtography-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <h1>test</h1>
        <button>test</button>

    </div>
  </div>
</div>
