    <div class="card">
      <a href="http://fauxtography.herokuapp.com" target="_blank">
        <%= image_tag("fauxtography.png", :alt => "fauxtography") %>
      </a>
      <div class="card-infos">
        <div>
          <h2>Fauxtography Marketplace</h2>
              <button type="button" class="create-btn" data-toggle="modal"  data-target="#fauxtography-modal">
                <i class="fas fa-plus-circle"></i>
              </button>
          <p>Rails APP built in a team during 1 week sprint using JavaScript, HTML, CSS</p>
        </div>
      </div>
    </div>
