<div class="modal fade" id="giphy-modal" tabindex="-1" role="dialog" aria-labelledby="giphy-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <h1>test</h1>

    </div>
  </div>
</div>
