
    <div class="card">
      <a href="https://ryanmansfield.github.io/react-gifs/" target="blank">
        <%= image_tag("giphy-react.png", :alt => "giphy-react") %>
      </a>
      <div class="card-infos">
        <div>
          <h2>Giphy Search</h2>
              <button type="button" class="create-btn" data-toggle="modal"  data-target="#giphy-modal">
                <i class="fas fa-plus-circle"></i>
              </button>
          <p>React APP integrating GIPHY API to search and display results</p>
        </div>
      </div>
    </div>
