<div class="modal fade" id="night-roulette-modal" tabindex="-1" role="dialog" aria-labelledby="night-roulette-modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <h1>test</h1>
        <p>test</p>

    </div>
  </div>
</div>
