<div class="card">
  <%= image_tag("night-roulette.png", :alt => "night-roulette") %>
  <div class="card-info">
    <h2>Night Roulette</h2>
    <p>Rails App designed and developed in a team and pushed to production using JavaScript, HTML, CSS</p>
    <div class="card-action">
     <button type="button" class="btn btn-flat" data-toggle="modal"  data-target="#night-roulette-modal">
        View More
      </button>
      <a href="https://www.night-roulette.com" target="_blank" class="btn btn-flat" class="btn btn-flat">Visit Website </a>
    </div>
  </div>
</div>
