/*Banner*/
.banner {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 75vh;
}

.container {
    padding: 150px 10%;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  color: white;
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.banner a {
  color:  #1F2041;
  text-shadow: white 0px 0px 10px;
}

.banner a:hover {
  /*color: #1F2041;*/
  color: #4B3F72;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  font-size: 24px;
}

